<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>>>>-A-R-T-S-T-I-V-A-L-></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap/docs.css" rel="stylesheet">
    <link href="bootstrap/prettify.css" rel="stylesheet">

  </head>

  <body data-twttr-rendered="true" data-spy="scroll" data-target=".bs-docs-sidebar">

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="brand" href="#">ARTSTIVAL</a>
              <div class="nav-collapse collapse">
                  <ul class="nav">
                      <li class="">
                          <a href="#">FILM</a>
                      </li>
                      <li class="">
                          <a href="#">MUSIC</a>
                      </li>
                      <li class="">
                          <a href="#">POETRY</a>
                      </li>
                      <li class="active">
                          <a href="#">PHOTOGRAPHY</a>
                      </li>
                      <li class="">
                          <a href="#">PAINTING</a>
                      </li>
                      <li class="">
                          <a href="#">SCULPTURE</a>
                      </li>
                      <li class="">
                          <a href="#">ANIMATION</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>


  <div class="container-fluid">
      <div class="row-fluid">
          <div class="span2">
              <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#">Subscription</a></li>
                  <li ><a href="#">Promoted</a></li>
                  <li ><a href="#">Trending</a></li>
                  <li ><a href="#">Suggestions</a></li>
                  <li ><a href="#">Recommended</a></li>
              </ul>
          </div>
          <div class="span7">
              <div class="well">
                  <form class="form-search">
                      <label for="id_search">Search: </label><input type="text" name="search" id="id_search">
                  </form>
              </div>
              <ul class="nav nav-pills">
                  <li ><a href="#">Film</a></li>
                  <li ><a href="#">Fine Art</a></li>
                  <li ><a href="#">Music</a></li>
                  <li ><a href="#">Craft</a></li>
                  <li ><a href="#">TV</a></li>
                  <li ><a href="#">Literature</a></li>
                  <li ><a href="#">Photography</a></li>
              </ul>
              <div style="border-bottom: 1px #000000 solid;">
                  <div class="row thumbnails">
                      <h3>Trending Films</h3>
                      <div class="span5">
                          <a href="#"> <h4>Awesome Film</h4></a>
                          <a href="#" class="thumbnail"> <img src="images/hayabusa1.jpg"></a>
                          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac  </p>

                      </div>
                      <div class="span5">
                          <a href="#"><h4>Awesome Film Part 2</h4></a>
                          <a href="#" class="thumbnail"> <img src="images/hayabusa1.jpg"></a>
                          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac curs</p>

                      </div>
                  </div>

              </div>
              <div style="border-bottom: 1px #000000 solid;">
                  <div class="row thumbnails">
                      <h3>Trending Fine Art</h3>
                      <div class="span5">
                          <a href="#"><h4>Awesome Art</h4></a>
                          <a href="#" class="thumbnail"> <img src="images/hayabusa1.jpg"></a>
                          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac  </p>

                      </div>
                      <div class="span5">
                          <a href="#"><h4>Mona Lisa Clone</h4></a>
                          <a href="#" class="thumbnail"> <img src="images/hayabusa1.jpg"></a>
                          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus </p>

                      </div>
                  </div>
              </div>
          </div>
          <div class="span3">
              This is where we are going to throw the adverts
          </div>
      </div>
  </div>




    <!-- Footer
    ================================================== -->
  <footer class="footer">
      <div class="container">
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>Bringing the art in you to you </p>
          <ul class="footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">&copy; ARTSTIVAL 2012</a></li>
              <li><a href="#">Terms and Conditions</a></li>
          </ul>
      </div>
  </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/bootstrap.js"></script>

</body></html>