<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>>>>-A-R-T-S-T-I-V-A-L-></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap/docs.css" rel="stylesheet">
    <link href="bootstrap/prettify.css" rel="stylesheet">

  </head>

  <body data-twttr-rendered="true" data-spy="scroll" data-target=".bs-docs-sidebar">

<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">ARTSTIVAL</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="#">FILM</a>
              </li>
              <li class="">
                <a href="#">MUSIC</a>
              </li>
              <li class="">
                <a href="#">POETRY</a>
              </li>
              <li class="active">
                <a href="#">PHOTOGRAPHY</a>
              </li>
              <li class="">
                <a href="#">PAINTING</a>
              </li>
              <li class="">
                <a href="#">SCULPTURE</a>
              </li>
              <li class="">
                <a href="#">ANIMATION</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->

<div class="container">

  <!-- Docs nav
    ================================================== 
<div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li><a href="#typography"><i class="icon-chevron-right"></i> FILM</a></li>
          <li><a href="#code"><i class="icon-chevron-right"></i> PHOTOGRAPHY</a></li>
          <li><a href="#tables"><i class="icon-chevron-right"></i> SCULPTURE</a></li>
          <li><a href="#forms"><i class="icon-chevron-right"></i> POETRY</a></li>
          <li><a href="#buttons"><i class="icon-chevron-right"></i> PAINTING</a></li>
          <li><a href="#images"><i class="icon-chevron-right"></i> PHOTOGRAPHY</a></li>
          <li><a href="#images"><i class="icon-chevron-right"></i> ANIMATION</a></li>
         
        </ul>
      </div>
      -->
      <div class="span16">




        <!-- Images
        ================================================== -->
        <section id="images">
           <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <a href="#" class="thumbnail">
                  <img src="images/hayabusa1.jpg" alt="hayabusa - making fast cars look slow since 19999">
                </a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail">
                  <img src="images/hayabusa2.jpg" alt="hayabusa - making fast cars look slow since 19999">
                </a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail">
                  <img src="images/hayabusa3.jpg" alt="hayabusa - making fast cars look slow since 19999">
                </a>
              </li>
             </ul>
          </div>
                     <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <a href="#" class="thumbnail">
                  <img src="images/hayabusa4.jpg" alt="hayabusa - making fast cars look slow since 19999">
                </a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail">
                  <img src="images/hayabusa5.jpg" alt="hayabusa - making fast cars look slow since 19999">
                </a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail">
                  <img src="images/hayabusa6.jpg" alt="hayabusa - making fast cars look slow since 19999">
                </a>
              </li>
             </ul>
          </div>
        </section>
        
        
      </div>
    </div>

  </div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Bringing the art in you to you </p>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">&copy; ARTSTIVAL 2012</a></li>
          <li><a href="#">Terms and Conditions</a></li>
        </ul>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="bootstrap/widgets.js"></script>
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/prettify.js"></script>
    <script src="bootstrap/bootstrap-transition.js"></script>
    <script src="bootstrap/bootstrap-alert.js"></script>
    <script src="bootstrap/bootstrap-modal.js"></script>
    <script src="bootstrap/bootstrap-dropdown.js"></script>
    <script src="bootstrap/bootstrap-scrollspy.js"></script>
    <script src="bootstrap/bootstrap-tab.js"></script>
    <script src="bootstrap/bootstrap-tooltip.js"></script>
    <script src="bootstrap/bootstrap-popover.js"></script>
    <script src="bootstrap/bootstrap-button.js"></script>
    <script src="bootstrap/bootstrap-collapse.js"></script>
    <script src="bootstrap/bootstrap-carousel.js"></script>
    <script src="bootstrap/bootstrap-typeahead.js"></script>
    <script src="bootstrap/bootstrap-affix.js"></script>
    <script src="bootstrap/application.js"></script>


    <!-- Analytics
    ================================================== -->
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = 'http://mtn.co.ug.kproxy.com/servlet/redirect.srv/sruj/skesfvu/shvlmcrp/p1//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>

  

</body></html>