@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/body_bg.png);
	/*background-color:#202020;*/
	margin:0;
	color:#fff;
	font-size:12px;
	position:relative;
	
	}
.wrapper
{
	/*background-color:#3c3c3c;*/
	width:980px;
	margin:0 auto;
	opacity:0.4;
	height:700px;}
.header{
	width:980px;
	overflow: ;
	}
	
.submenu{
	height: 29px;
width: 395px;
margin: 0px 0px 0px 0px;
padding: 2px 5px 5px 10px;
float: right;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
-webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
background-color: #3c3c3c;
/*background-color: rgba(17, 17, 17, 0.9);*/
-webkit-box-shadow: rgba(0, 0, 0, 0.6) 2px 0 10px;
-moz-box-shadow: rgba(0,0,0,0.6) 2px 0 10px;
box-shadow: rgba(0, 0, 0, 0.6) 2px 0 10px;}


.cssmenu{
	
	/*height: 34px;*/
width: 965px;
overflow:visible;
margin: 15px 0 0 0;
padding: 8px 5px 8px 10px;
float: left;
border-top: 1px solid #ccc;
border-left: 1px solid #999999;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;

/*background-color: #3c3c3c;*/
background: #999999;
	background: -moz-linear-gradient(top, #ccc, #999999);
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#ccc), to(#999999));	
	
/*background-color: rgba(17, 17, 17, 0.9);*/
-webkit-box-shadow: rgba(0, 0, 0, 0.6) 2px 0 10px;
-moz-box-shadow: rgba(0,0,0,0.6) 2px 0 10px;
box-shadow: rgba(0, 0, 0, 0.6) 2px 0 10px;}


.cssmenu ul {
margin: 0; padding: 0px 0px 0px 0px;
background:url(menu_assets/images/bg_nav.png) repeat-x;
line-height:22px; font-family:Verdana, Geneva, sans-serif;
font-size:16px;
display:block;}

.cssmenu li {margin: 0px 0px 0px 0px;float:left;
position:relative;
list-style: none;
display:block;
/*border-right:solid 1px #D06B59;*/
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
 }

.cssmenu a {font-weight: normal; color: #FFF; text-decoration: none; display: block;
text-transform:capitalize;
 /*border-color:#D06B59 #fff #D06B59 #D06B59;
 border-width:0px 1px 0px 0px;*/
padding:5px 23px 5px 23px;
color:#fff;
font-family:Verdana, Geneva, sans-serif;}

.cssmenu a:hover {background:#333; color: #fff;padding:5px 23px 5px 23px;}
.cssmenu .active a, 
.cssmenu li:hover > a {background:#333; }
.cssmenu ul ul li:hover a,
.cssmenu li:hover li a {background:#333; border: none; color: #FFF; }
.cssmenu ul ul a:hover {background: #333 ; color: #fff !important;}
.cssmenu li:hover > ul {display: block;}
.cssmenu ul ul {display: none; margin: 0; padding: 0; width: 185px; position: absolute; left: 0; background:#3c3c3c;  }
.cssmenu ul ul li {float: none; margin: 0; padding: 0px; visibility: visibleb;background:url(menu_assets/images/bg_nav.png) repeat-x ;color:#fff }
.cssmenu ul ul a {font-weight: normal; color:#fff; }
.cssmenu ul:after {content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.cssmenu ul li ul li a { background:#3c3c3c;}
.cssmenu ul li ul li a { background:#3c3c3c;}
* html .cssmenu  ul {height: 1%;}
.category_container
{
	width:980px;
	margin:0 auto;
	overflow:hidden;
	padding-top:10px;
	/*background-image: -ms-linear-gradient(bottom, #1A1A1A 0%, #2B2B2B 100%);
    background-image: linear-gradient(bottom, #1A1A1A 0%,#2B2B2B 100%);
    color: #E6E6E6;*/
	
    
	float:left;
    }
.category{
	width:316px;
	float:left;
	height:300px;
	margin:0px 11px 0px 0px;
	background:#333;
	border:1px solid #ccc;
	border-radius:3px;
	-wekit-border-radius:3px;
	-moz-border-radius:3px;}
	
.category_right{
	width:316px;
	float:right;
	height:300px;
	margin:0px 0px 0px 0px;
	border-radius:3px;
	-wekit-border-radius:3px;
	-moz-border-radius:3px;
	background:#333;
	border:1px solid #ccc;}
	.category_right p,.category p{
		margin:0px 20px 0px 20px;
		text-align:;
	}
.category_right img,.category img{
	width:276px;
	margin:0px 20px 0px 20px;}
.category_right h2,.category h2{
	margin:0px 0px 0px 0px;
	padding:3px 0px 3px 0px;
	text-align:center;
	background: #999999;
	background: -moz-linear-gradient(top, #ccc, #999999);
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#ccc), to(#999999));	
	color:#ededed;
	text-shadow: black -1px -1px 0;}
.row
{}
.submenu_list{
	margin:0px 0px 0px 0px;
	padding:6px 0px 0px 0px;
	list-style:none;
	}
.submenu_list li{
	float:left;
	margin:0px 10px 0px 0px;
	}
.login{
	background:url(../images/lock.png) no-repeat;
	font-size:11px;
	padding:0px 0px 0px 20px;}
.login a,.cart a{
	color:#ffffff;
	text-decoration:none;}
.cart{
	background:url(../images/cart.png) no-repeat;
	font-size:11px;
	padding:0px 0px 0px 20px;}
.column5
{
	width:310px;
	color:#fff;
	float:left;
	margin:0px 0px 0px 10px;
	}
	

.column6
{
	width:310px;
	float:left;
	color:#fff;
	margin:0px 10px 0px 10px;
	}
	
.column7
{
	width:298px;
	color:#fff;
	float:left;
	margin:0px 10px 0px 20px;
}
	
	.footer_inner
{
	width:980px;
	float:left;
	margin:0 auto;
	overflow:hidden;
	background:#333;
	margin:10px 0px 0px 0px;
	}
.footer_inner p
{
	margin:0px 0px 10px 0px;}
.footer_list
{
	margin:20px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	}
.footer_list a
{
	text-decoration:none;
	color:#fff;}
	
	.footer_list li
{
	margin:0px 0px 0px 0px;
	padding:0px 0px 8px 10px;
	list-style:none;
	font-weight:400;
	background:url(../images/ft_list.png) no-repeat 0px 2px;
	}
	
.contact
{
	margin:0px 0px 0px 0px;
	font-size:13px;
	font-weight:bold;
	padding:0px 0px 0px 30px;
	background:url(../images/contact_img.png) no-repeat 0px 5px;}
.mail
{
	margin:0px 0px 0px 0px;
	font-size:13px;
	font-weight:bold;
	padding:0px 0px 0px 30px;
	background:url(../images/mail.png) no-repeat 0px 5px;}
.social
{
	list-style:none;
	margin:25px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	}
	
.social li a
{
	list-style:none;
	padding:0px 10px 0px 0px;
	float:left;
	display:block;
	color:transparent;
	}